body {
   font-family: 'Courier New', Courier, monospace;
}

h1 {
   display: block;
   position: relative;
   text-align: center;
}

li {
   list-style-type: none;
}

.bottom_right_footer {
   text-align: right;
}

table {
   width: 100%;
   height: auto;
}

th, td {
   border: solid black 1px;
   height: auto;
}